@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@layer base {
  body{
    font-family: 'PT Sans', sans-serif;
  }
  ol{
    list-style: number;
    list-style-position: inside;
  }
}